<h1 class="title">Search products</h1>

<form class="form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <mat-form-field class="form__field">
    <input matInput type="text" placeholder="Title" formControlName="title">
    <mat-error>Title is too short.</mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Min price" formControlName="minPrice">
    <mat-error>Cannot be less than 0.</mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Max price" formControlName="maxPrice" [errorStateMatcher]="matcher">
    <mat-error *ngIf="searchForm.controls['maxPrice'].hasError('min')">Cannot be less than 0.</mat-error>
    <mat-error *ngIf="searchForm.hasError('minLessThanMax')">Should be larger than min price.</mat-error>
  </mat-form-field>

  <button class="form__submit"
          color="primary"
          mat-raised-button>SEARCH</button>
</form>
