<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <nga-search-form></nga-search-form>
  </mat-sidenav>

  <mat-toolbar class="toolbar">
    <button mat-icon-button
            class="toolbar__icon-button"
            (click)="sidenav.toggle()">
      <mat-icon>search</mat-icon>
    </button>

    <div class="toolbar__logo-title-group"
         fxLayout
         fxLayoutAlign="center center">
      <a routerLink="/"
         fxLayout>
        <img class="toolbar__logo"
             src="/assets/logo.svg"
             alt="NgAuction Logo">
      </a>
      <a class="toolbar__title"
         routerLink="/">NgAuction</a>
    </div>

    <div fxFlex></div>

    <button mat-icon-button
            class="toolbar__icon-button
                   toolbar__shopping-cart-button">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
