@import '../styles/theme';

:host {
  display: block;
  height: 100%;
}

/*mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  border-left: solid 1px mat-color($nga-foreground, divider);
  padding: 24px;
}*/

.toolbar {
  background-color: mat-color($nga-background, card);
  position: relative;

  // This adds a bottom border. On the home page the tabs are rendered on top of the
  // shadow this makes the header look like a single component. On other pages, the
  // shadow is visible, so it separates header from the content.
  box-shadow: 0 1px mat-color($nga-foreground, divider);
}

.toolbar__logo-title-group {
  position: absolute;
  right: 50%;
  left: 50%;
}

.toolbar__logo {
  height: 32px;
  margin-right: 16px;
}

.toolbar__title {
  color: mat-color($nga-foreground, text);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.toolbar__icon-button {
  color: mat-color($nga-foreground, icon);
}

.toolbar__shopping-cart-button {
  margin-right: 8px;
}
