@import '../../styles/palette';

:host {
  display: block;
  padding: 64px 24px 24px;
}

header {
  text-align: center;
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
  }
  span {
    font-size: 12px;
    color: mat-color($ngs-foreground, secondary-text);
  }
}

mat-form-field, mat-select {
  font-size: 16px;

  &.error {
    color: mat-color($ngs-warn) !important;
  }
}

mat-hint.error {
  color: mat-color($ngs-warn);
}

.grid {
  margin: 48px auto 0;
  max-width: 900px;
  display: flex;

  section {
    flex: 1;

    &:not(:first-child) {
      margin-left: 80px;
    }
  }

  h2 {
    font-size: 13px;
    font-weight: 700;
    margin: 8px 0;
  }

  .row {
    height: 72px;
    display: flex;
    align-items: center;

    & > * {
      flex: 1;
    }

    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }

  .row.expiry {
    position: relative;

    label {
      color: mat-color($ngs-foreground, hint-text);
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
}
