:host {
  display: block;
  background: #f3f3f3;
}

.grid-list-container {
  padding: 16px;
}

@import '../../styles/palette';

mat-tab-group {
  background: mat-color($ngs-background, card);
}

ngs-product-tile {
  cursor: pointer;
}
