:host {
  display: block;
}

auction-carousel {
  margin-bottom: 16px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

nga-product-item {
  margin: 0 8px 16px;
  flex-basis: calc(100% / 3 - 16px);
}


