@import '../styles/palette';

// @debug $ngs-background;

mat-toolbar {

  // To see what colors are included in $ngs-background, and for card in particular, add @debug $ngs-background;
  background: mat-color($ngs-background, card);

  // This adds a bottom border. On the home page the tabs are rendered on top of the
  // shadow this makes the header look like a single component. On other pages, the
  // shadow is visible, so it separates header from the content.
  box-shadow: 0 1px mat-color($ngs-foreground, divider);
}

.fill {
  flex: 1 1 auto;
}

.logo {
  height: 36px;
  width: auto;
}
