<form #f="ngForm">

  <mat-input-container>
    <input matInput
           type="text"
           placeholder="Product title"
           name="title" ngModel>
  </mat-input-container>

  <mat-input-container>
    <input matInput
           type="number"
           placeholder="Product price"
           name="price" ngNodel>
  </mat-input-container>

  <mat-select placeholder="Category" name="category" ngModel>
    <mat-option *ngFor="let c of categories"
               [value]="c">{{ c }}</mat-option>
  </mat-select>

  <button mat-raised-button color="accent" type="submit">
    <mat-icon>search</mat-icon>SEARCH
  </button>
</form>
