<form #f="ngForm">

  <mat-form-field>
    <input matInput
           type="text"
           placeholder="Product title"
           name="title" ngModel>
  </mat-form-field>

  <mat-form-field>
     <input matInput
           type="number"
           placeholder="Product price"
           name="price" ngNodel>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" name="category" ngModel>
      <mat-option *ngFor="let c of categories"
                 [value]="c">{{ c }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">
    <mat-icon>search</mat-icon>SEARCH
  </button>
</form>
