<mat-toolbar color="primary">

  <a [routerLink]="['/']">ngAuction</a>
  <div class="fill"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Services</span>
  </button>
  <button mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Contact</span>
  </button>
</mat-menu>
